@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root{--main-purple-color:#ff5252;--main-blue-color:#3f81e5;--dark-blue-color:#072b5e;--dark-black-color:#1e2022;}
/** Global Theme Css **/
body{font-size:14px;color:#fff;font-family:'Poppins',sans-serif;min-height:100vh;display:flex;flex-direction:column;background-color:var(--dark-black-color);}
p{font-size:20px;font-weight:400;line-height:34px;}
a{color:#000;text-decoration:none;-webkit-transition-duration:0.4s;transition-duration:0.4s;}
a:hover{color:#000;transition:all 0.3s ease;text-decoration:none;}
li{list-style-type:none;}
ul{padding:0;margin:0;}
a:focus,button:focus{outline:none;}
.relative{position:relative;}
/** Btn **/
.btn{font-size:14px;border-radius:3px;transition:all 0.3s ease;padding:8px 25px;font-weight:600;min-height:46px;line-height:28px;-webkit-transition-duration:0.4s;transition-duration:0.4s;}
.btn.btn-xl{min-width:150px;}
.btn.focus,.btn:focus,.accordion-button:focus{outline:0;box-shadow:none;}
.btn-purple{background:var(--main-purple-color);color:#fff;}
.btn-purple:hover{background:#f34747;color:#fff !important;}
.btn-blue{background:var(--main-blue-color);}
.btn-blue:hover{background:#202ECE;color:#fff !important;}
.section{padding:60px 0;}
/** Headings **/
h1,h2,h3,h4,h5,h6{font-family:'Michroma',sans-serif;}
.title1{font-size:36px;color:#fff;}
.title1::after{content:'';width:140px;height:6px;background:var(--main-purple-color);display:block;margin-top:20px;margin-bottom:10px;}
.title2 span{font-family:'Poppins',sans-serif;}
.title2{font-size:36px;color:#fff;}
.title3{font-size:18px;color:#fff;}
.title4{font-size:14px;color:#fff;}
.title5{font-size:24px;color:#fff;}
/** Forms **/
.form-group label{color:#000;font-size:14px;margin-bottom:15px;font-weight:500;}
.form-control{color:#000000;border:1px solid #D6D6D6;border-radius:3px;min-height:46px;font-size:14px;padding:11px 18px;}
.custom-select{border-top:none;color:#000000;border-left:none;border-right:none;border-bottom:1px solid #D5D5D5;border-radius:0;padding:15px 0;height:auto;background:transparent url(../../images/selectArrow.svg);background-size:auto;background-position:right 60%;background-repeat:no-repeat;}
.custom-select option{font-family:arial;}
.form-control:focus,.custom-select:focus{box-shadow:none;}
.custom-checkbox .custom-control-label{cursor:pointer;}
.form-control::placeholder{opacity:0.5;}
.form-control:focus-visible{text-shadow:none;}
/*navbar CSS*/
.navbar{width:100%;padding:0;position:fixed;-webkit-transition:all ease-in-out 0.5s;transition:all ease-in-out 0.5s;padding-top:15px;padding-bottom:15px; z-index: 9;}
.navbar-light .navbar-nav .nav-link{color:#fff;position:relative;font-weight:600;font-size:16px;}
.navbar-light .navbar-nav .nav-link.active{color:#fff;}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus{color:#fff;}
.navbar-brand{padding-top:0;padding-bottom:0;}
.navbar-brand > img{width:230px;}
.nav-item{margin-right:20px;}
.btn-add-post{margin-right:15px;margin-left:20px;}
.btn i{margin-right:7px;}
.navbar .navbar-nav .btn{padding-left:20px !important;padding-right:20px !important;text-transform:uppercase;}
.btn-sign .btn i{margin-right:3px;margin-left:3px;}
.navbar-nav .dropdown-menu{padding:15px 10px;}
.navbar-nav .dropdown-item{font-size:14px;padding:7px 10px;}
.navbar-nav .dropdown-item:hover{color:var(--dark-blue-color);background:#F0FAFF;}
.navbar-light .navbar-toggler{color:#fff;border-color:rgb(255,255,255);background:#fff;z-index:1;border-radius:3px;}
.navbar-toggler:focus{border-radius:3px;box-shadow:none;}
.topTeam.headerSticky {position:fixed;z-index:9;width: 100%;}
.topTeam.headerSticky .navbar{background:#265176;padding:12px 0;}
.headerSticky .navbar-brand > img{width:180px;-webkit-transition:all ease-in-out 0.5s;transition:all ease-in-out 0.5s;} 
.navbar .navbar-nav li{display:flex;align-items:center;}
.navbar-light .navbar-nav .nav-link::after{content:'';width:30px;height:30px;background:var(--main-purple-color);border-radius:50%;position:absolute;z-index:-1;left:0px;top:5px;transition:all 0.3s ease-in-out;opacity: 0;}
.navbar-light .navbar-nav .nav-link.active::after{opacity: 1;}

.btn-yellow.sm-btn{padding:8px 16px;}
.btn-user img{margin-right:7px;}
.navbar-Blue{padding-bottom:10px;}
.dropdown-item{font-size:14px;}
.banner{background-color:var(--dark-blue-color);background-repeat:no-repeat;background-position:center right;}
.banner h1{color:white;line-height:60px;}
.banner h1 span{color:var(--main-purple-color);text-transform:uppercase; display: block;}
.banner p{font-weight:500;font-size:22px;line-height:36px;color:#fff;margin:50px 0;}
.btn-tw{background:#11a9bd;color:white;font-size:20px;font-family:'Michroma',sans-serif;border-radius:10px;margin-right:30px;padding:10px 30px;}
.btn-di{background:#3fa0e5;color:white;font-size:20px;font-family:'Michroma',sans-serif;border-radius:10px;padding:10px 30px;}
.btn-tw:hover,.btn-di:hover{color:white;opacity:0.8;}
#banner-img-carousel img{width:380px;margin: 0 auto;}
.goal{background:var(--dark-black-color);}
.goal .title2{margin-bottom:40px;}
.goal p{color:#D0D0D0;letter-spacing:0.2px;}
.goal p a {color: var(--main-purple-color);text-decoration: underline;}
.how-work{background-color:var(--dark-blue-color);}
.how-work .col-md-4{text-align:center;}
.how-work .icon-work{background-color:#00215F;width:320px;height:320px;display:flex;align-items:center;justify-content:center;border-radius:50%;margin:0 auto 30px;}
.how-work h3{margin-bottom:20px;}
.how-work p {width: 78%;margin: 0 auto;font-size: 16px;}
.sneakpeek-artwork{background:var(--dark-black-color);}
.owl-dots{margin-top:50px;display:flex;align-items:center;justify-content:center;}
.owl-dots .owl-dot{width:20px;height:10px;margin:5px 5px;background:#fff !important;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px;transition:all 0.3s ease-in-out;}
.owl-dots .owl-dot.active{width:40px;}
.owl-dots .owl-dot.active,.owl-theme .owl-dots .owl-dot:hover{background:var(--main-purple-color) !important;}
.roadmap{background:var(--dark-black-color);}
.roadmap ul{padding-left:15px;}
.roadmap ul li{border-left:2px dashed var(--main-purple-color);padding-left:40px;margin-bottom:20px;position:relative;padding-bottom:60px;}
.roadmap ul li.active .innermap{background:#141875;padding:30px;margin-left:0px;position:relative;border-radius:10px;}
.roadmap ul li.active .innermap::before{width:0;height:0;border-width:20px 30px 20px 0;border-color:transparent #141875 transparent transparent;border-style:solid;content:'';display:inline-block;position:absolute;left:-15px;top:50%;transform:translate(-50%,-50%);}
.roadmap ul li::before{content:'';background-image:url(../../images/graphic-arrow.png);width:32px;height:36px;display:inline-block;position:absolute;left:-17px;top:0;background-size:100% auto;background-repeat:no-repeat;}
.roadmap ul li::after{content:'';background-image:url(../../images/arrow-timeline.png);width:15px;height:9px;display:inline-block;position:absolute;left:-8px;bottom:-1px;background-size:100% auto;background-repeat:no-repeat;}
.roadmap ul li:last-child::after{display:none;}
.roadmap ul li h4{color:var(--main-purple-color);letter-spacing:0.2px;line-height:normal;margin-bottom:10px;}
.roadmap ul li p{color:#D0D0D0;letter-spacing:0.2px;margin-bottom:0;}
.roadmap ul li a {background: var(--main-purple-color);font-size: 16px;color: white;padding: 10px 20px;display: inline-block;border-radius: 3px;margin-top: 10px;font-weight: 600;}
.roadmap .mCustomScrollbar{height:630px;}
.view3D .img-fluid{width:80%;float:right;}
.mCSB_scrollTools .mCSB_draggerRail{background-color:#0B0E54;width:13px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#5B0088;width:13px;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:#5B0088;}
.faq{background-color:var(--dark-blue-color);background-position:center center;}
.faq p a{color: var(--main-purple-color);text-decoration: underline;}
.accordion-item .accordion-button::after{content:"+";background-image:none;font-size:26px;line-height:16px;width:auto;height:auto;}
.accordion-item .accordion-button:not(.collapsed)::after{content:"-";transform:none;background-image:none;}
.accordion-header{margin-bottom:0;font-family:'Poppins',sans-serif;}
.accordion-item{background-color:rgba(0,0,0,0.18);border:1px solid #000000;margin-bottom:15px;}
.accordion-item .accordion-button{background:transparent;color:white;font-weight:600;}
.accordion-item .accordion-item{border-top:none;border-left:none;border-right:none;border-bottom:1px solid #707070;background:no-repeat;border-radius:0;margin-bottom:0;}
.accordion-item .accordion-item .accordion-button,.accordion-item .accordion-item .accordion-body{padding-left:0px;padding-right:0px;}
.accordion-item .accordion-body{padding-top:0;padding-bottom:30px;}
.accordion-item .accordion-body a{color: var(--main-purple-color);text-decoration: underline;}
.accordion-item .accordion-item .accordion-button::after{border:solid #fff;border-width:0 3px 3px 0;display:inline-block;padding:3px;transform:rotate(45deg);-webkit-transform:rotate(45deg);content:'';}
.accordion-item .accordion-item .accordion-button:not(.collapsed)::after{transform:rotate(-135deg);-webkit-transform:rotate(-135deg);content:'';}
.team{background:var(--dark-black-color);padding-top:0;}
.team p a{color: var(--main-purple-color);text-decoration: underline;}
.rightway{margin-right:calc(-1px - ((100vw - 100%)/ 2) + 15px);overflow:hidden;}
.team .item{background:white;padding:10px;border-radius:5px;position:relative;text-align:center;min-height: 580px;}
.team .item img{border-radius:3px;}
.team .owl-carousel .profile-tw{width:40px;height:40px;border-radius:20px;background:linear-gradient(#ab00ff 0%,#0c2c67 100%);display:flex;align-items:center;justify-content:center;font-size:18px;color:white;position:absolute;right:20px;top:20px;}
.team .owl-carousel .team-profile{width:120px;height:120px;border-radius:50%;overflow:hidden;margin:-60px auto 0;border:5px solid #F0F0F0;position:relative;z-index:1;}
.team .owl-carousel h3{color:#000000;font-size:18px;margin-top:10px;margin-bottom:10px;}
.team .owl-carousel strong{display:block;color:#000;font-size:12px;font-weight:500;}
.team .owl-carousel p{color:#4E4E4E;font-size:12px;font-weight:normal;line-height:normal;margin-top:10px;}
.owl-carousel .owl-stage{padding-left:0 !important;}
.footer{background-color:#244966;padding:60px 0;}
.footer ul{display:flex;justify-content:center;margin-bottom:8px;}
.footer ul li{border-right:2px solid white;margin-right:10px;padding-right:10px;line-height:15px;}
.footer ul li:last-child{border-right:none;margin-right:0px;padding-right:0px;}
.footer ul li a{color:white;}
address{text-align:right;margin-bottom:0;}

.close i {color: #fff;font-size: 30px;line-height: 30px;}
.close {position: absolute;right: -12px;top: -12px;height: 40px;width: 40px;border-radius: 100%;background: #AB00FF;z-index: 1;border: 0;display: flex;align-items: center;justify-content: center;}
.trading_bot .modal-body { padding: 5px;}
.formRegister img{ margin: 0 auto; }
.content{padding:120px 0 50px;}
.stripmint{background:#F7A939;width:100%;color:#000;text-align:center;padding:12px 0;font-weight:600;font-size:16px;display:flex;align-content:center;justify-content:center;}
.stripmint a{color:#000;margin-left:10px;text-decoration:underline;}
.banner-sec.mint-ban{padding-top:30px;}
.mint-ban h2{color:#fff;font-size:50px;margin-bottom:60px;}
.tknreg{display:block;font-weight:900;color:var(--main-purple-color);text-transform:uppercase;font-size:36px;margin-top:20px;}

.banner-item{display:flex;justify-content:center;}
.img-art{position:relative;display:flex;justify-content:center;align-items:center;}.mint-header .img-art > img{width:332px;max-width:100%;}
.banner-item .item-left{width:30%;}
.banner-item .item-right{padding-left:100px;width: 70%;}
.banner-item .item-right .p1{color:white;font-size:20px;width:80%;margin-top:20px;}
.counter-row{display:flex;padding-top:30px;flex-direction:column;width:573px;}
.min-form .inner-item{display:flex;}
.min-form .input-counter{position:relative;}
.min-form .minus-btn,.min-form .plus-btn{font-size:42px;padding:0;position:absolute;border:0;outline:0;box-shadow:none;bottom:14px;background:transparent;color:#fff;height:38px;line-height:0;}
.min-form .minus-btn{left:10px;}
.min-form .plus-btn{right:10px;}
.counter-row .input-counter span,.counter-row .input-form span{color:#fff;font-size:20px;font-weight:900;margin-bottom:10px;display:inline-block;text-transform:uppercase;}
.counter-row input{font-size:28px;font-weight:900;border:1px solid #3F4CE5;background:#000000;padding:8px 20px;color:#fff;width:275px;max-width:100%;}
.counter-row .input-counter input{text-align:center;}
.counter-row .input-form{margin-left:20px;}
.min-form .form-control:disabled,.min-form .form-control[readonly]{background-color:#000000;opacity:1;}
.banner-item .item-right .p2{color:white;font-size:16px;margin-top:20px;}
.termETH{background:#0C1186;color:#fff;padding:10px 20px;font-size:14px;display:table;align-items:center;justify-content:center;margin:30px auto 0;text-align:center;border-radius:20px;}
.banner-item .item-right h3{font-family:'Poppins',sans-serif;font-weight:600;margin-bottom:15px;}
.banner-item .item-right p{font-size:16px;line-height: 28px;}
.tnc p{ font-size: 16px;}

.footerbottom{background:#10203c;padding:12px 0;}
.footerbottom a{color:#fff;}
.footerbottom a:hover{text-decoration: underline;} 
.opensea img{width:17px;margin-top:-3px;}
.loginTxt{font-size:13px;}
.loginTxt a{color:#0d6efd;}
.min-form a{color:var(--main-purple-color);}
.tnc .title3{margin-bottom: 25px;}
.tnc p a{color:var(--main-purple-color);}

@media only screen and (min-width:1685px){
.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1640px;}
}

@media only screen and (max-width:1681px){
.banner h1{font-size:36px;}
.banner p{font-size:20px;color:#fff;margin:40px 0;}
.title1{font-size:28px;}
.title2{font-size:28px;}
.footer{padding:40px 0;}
.btn-tw{margin-right:10px;padding:10px 25px;}
.btn-di{padding:10px 25px;}
p{font-size:16px;line-height:30px;}

}
@media only screen and (max-width:1441px){
.banner .mt-5{margin-top:0 !important;}
.how-work h3{font-size:24px;}
.roadmap ul li h4{font-size:18px;}
.banner h1{font-size:24px;line-height:40px;width:90%;}
.roadmap ul li{padding-bottom:40px;}
.btn-tw,.btn-di{font-size:16px;padding:8px 25px;}
.how-work .icon-work{width:260px;height:260px;}
.how-work .icon-work img{width:70%;}
#banner-img-carousel img{width:300px;}
.banner-sec.mint-ban{padding-top:0px;}
.mint-ban h2{font-size:40px;margin-bottom:40px;}
.tknreg{font-size:28px;margin-top: 15px;}
.banner-item .item-right h3{font-size:18px;}
.banner-item .item-right p{font-size:13px;line-height:22px;}
.banner-item .item-right .p2{font-size:13px;}
.tnc p{font-size:13px;}
}

@media only screen and (max-width:1199px){
.counter-row{display:flex;padding-top:30px;flex-direction:column;width:100%;}
.counter-row input{width:100%;}

}
@media only screen and (max-width:991px){
.banner h1{font-size:18px;line-height:30px;width:90%;}
.banner p{font-size:14px;margin:20px 0;line-height:normal;}
.btn-tw,.btn-di{padding:8px 20px;}
#banner-img-carousel img{width:70%;}
.title2{font-size:20px;}
p{font-size:14px;line-height:24px;}
.how-work .icon-work{width:170px;height:170px;}
.how-work p{width:auto;}
.rightway{margin-right:0;}
.footer-social,.footer-logo{display:none;}
.footer {padding: 0;}
.how-work h3{font-size:20px;}
.navbar-collapse{position:fixed;background:#0F1B2F;height:100vh;z-index:9;right:-100%;top:0;width:380px;transition:linear all 0.2s;display:block !important;}
.navbar-collapse.show{right:0;}
.navbar-toggler{margin-top:15px;margin-right:15px;}
#navbarSupportedContent .navbar-toggler{background:no-repeat;padding:0;border:none;color:white;font-size:36px;float:right;width:auto;text-align:right;margin-top:10px;}
.navbar-nav{align-items:flex-start;padding:20px;}
.navbar-nav .nav-item{margin-bottom:30px;}
.navbar .navbar-nav .nav-link.active{color:white;}
.banner-sec.mint-ban{padding-top:20px;}
.mint-ban h2{color:#fff;font-size:30px;margin-bottom:50px;}
.tknreg{font-size:24px;}
.banner-item .item-right{padding-left:40px;}
.banner-item .item-right p{font-size:14px;}

.footer-action{display:flex;flex-direction: column;align-items: center;}
.footer-action a{margin: 7px 0;font-size: 12px;}
.footerbottom address{text-align: center;font-size: 12px;margin-top: 20px;}
.opensea img {width: 14px;}


}

@media only screen and (max-width:767px){
.how-work .col-md-4{text-align:center;background:#062764;margin-bottom:20px;padding:60px;border-radius:10px;}
.banner{padding:120px 0 80px;}
.view3D,#banner-img-carousel{display:none;}
.banner-item{flex-direction:column;}
.banner-item .item-left{width:100%;}
.banner-item .item-right{padding-left:0;width:100%;}
.img-art{ margin-bottom: 30px;}
}
@media only screen and (max-width:575px){
.title1{font-size:20px;}
.title2{font-size:18px;}
.goal .title2{margin-bottom:20px;}
.goal img{margin-bottom:20px;}
.section{padding:40px 0;}
.how-work .row{ padding-left: 15px; padding-right: 15px;}
.banner{padding:120px 0 80px;}
.navbar-collapse{width:320px;}
.stripmint { flex-wrap: wrap; }
}